@function px2rem($px){
  @return $px/100px *1rem;
}
	*{
		margin:0;
		padding:0;
	}
li{
	list-style:none;
}
a{
	color:black;
	text-decoration:none;
}


#Register{
	.hea{
		position:fixed;
		z-index:1000;
		background:white;
		left:0;
		top:0;
		overflow: hidden;
		height:px2rem(40px);
		border-bottom:px2rem(1px) solid #ccc;
		width:100%;
		.lef,.rig,.mid{
			float:left;
			width:33%;
			text-align: center;
			line-height: px2rem(40px);
			span{
				padding:px2rem(10px);
			}
		}
		.lef{
			span{
				margin-left: px2rem(-70px);
			}
		}
		.rig{
			span{
				margin-right: px2rem(-70px);
			}
		}
	}
	.jis{
		.ythzForm{
		    border-top: px2rem(1px) solid #d2d2d2;
		    margin-top: px2rem(40px) ;
			.field{
			    position: relative;
			    padding-left: px2rem(20px);
			    background: #fff;
		        height: px2rem(44px);
			    line-height: px2rem(44px);
			    border-bottom: px2rem(1px) solid #d2d2d2;
			    #cellPhone,#validateCode,#password,#repassword{
		    	    height: px2rem(20px);
				    width: 50%;
				    color: #333;
			        outline: 0;
					border: 0;
				    font-size: 100%;
					vertical-align: middle;
			    }
			    #getValidateCode{
		    	    float: right;
				    margin-right: px2rem(20px);
				    margin-top: px2rem(8px);
				    width: px2rem(90px);
				    height: px2rem(28px);
				    line-height: px2rem(26px);
				    text-align: center;
				    border: px2rem(1px) solid #999;
				    border-radius: px2rem(3px);
				    font-size: px2rem(12px);
				    color: #666;
				    background: #fff;
			    }
			}
			.useExplain{
			    line-height: px2rem(16px);
			    padding: px2rem(10px);
			    color: #666;
			    font-size: px2rem(12px);
			}
			#submitButton{
			    color: #fff;
				background: #ccc;
				border: px2rem(1px) solid #ccc;
			    display: block;
				width: 80%;
				height: px2rem(35px);
				line-height: px2rem(35px);
				margin: 0 auto px2rem(35px);
				font-size: px2rem(14px);
				text-align: center;
				
				border-radius:px2rem(6px);
				
				outline: 0;
			}
		}
	}
}